/* thebarmenu codes */
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.nav-container {
  position: absolute;
  background-color: #fff;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 10px;
}
.nav-menu li {
  list-style: none;
  padding: 8px 20px;
}
.li-name:hover a {
  color: #fff;
}
.li-name:hover {
  background-color: #000;
}
.thehamburger {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}
.burger-bars {
  z-index: 1;
}
.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 4px;
  transition: all 0.2s ease;
  background-color: black;
}
.nav-menu a {
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
}

.icon-menu {
  display: flex;
  list-style-type: none;

  padding: 0;
  gap: 20px;
}
.nav-icon {
  padding: 8px 10px;
}
.hidden {
  display: none;
}
/* desktop view */
@media only screen and (min-width: 700px) {
  .nav-menu li {
    padding: 8px 20px;
    margin: 10px 0;
  }
  .nav-container {
    width: 30%;
  }
}
