/* Personal information */

* {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #f9f9f9;
  margin-bottom: 5%;
}

#h1personalinfo {
  margin-top: 5%;
  font-size: 120%;
  margin-bottom: 3%;
}

.input-fname {
  margin-bottom: 1%;
  width: 40%;
  border: 1px solid black;
}
.input-lname {
  width: 40%;
  border: 1px solid black;
}
.input-number {
  margin-bottom: 1%;
  width: 40%;
  border: 1px solid black;
}

.personal-info {
  padding: 1%;
}

#h2address {
  font-size: 120%;
  margin-bottom: 2%;
}

.address-form {
  margin-left: 1%;
  margin-bottom: 3%;
}
.cashform {
  margin-left: 1%;
}
#h3cash {
  font-size: 120%;
  margin-bottom: 2%;
}
#cashbutton {
  width: 25%;
  height: 10%;
  background-color: #ff8000;
  color: white;
  border-color: #ff8000;
  margin-left: 35%;

  margin-top: 3%;
  padding: 3px;

  align-items: center;

  cursor: pointer;
  font-size: 100%;
}

.input-country {
  width: 40%;
  border: 1px solid black;
  margin-bottom: 1%;
}

.input-add {
  width: 40%;
  border: 1px solid black;
  margin-bottom: 1%;
}

.input-city {
  width: 40%;
  border: 1px solid black;
  margin-bottom: 1%;
}

.input-postalcode {
  width: 40%;
  border: 1px solid black;
  margin-bottom: 1%;
}

.addressform {
  margin-right: 18%;
}

/* Radio Buttons */

/* To create a custom radio button */
.radio-container {
  display: block;
  position: relative; /* position relative will work with the custom radio button position absolute */
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 100%;
}

/* to hide browsers default Radio Buttons */

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* To create a custom radio button */
.selector {
  position: absolute;

  left: 0%;

  bottom: 10%;
  height: 15px;
  width: 15px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 1px solid black;
}

/* When the radio button is checked change the color */
.radio-container input:checked ~ .selector {
  background-color: #818a92;
}

/* Make the selecor hidden when not checked) */
.selector:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .selector:after {
  display: block;
}

/* Making  responsive */

@media screen and (max-width: 430px) {
  .allforms {
    margin-left: 5%;
    margin-right: 5%;
  }

  #h1personalinfo {
    margin-top: 5%;
    font-size: 120%;
    margin-bottom: 3%;
  }
  .input-fname {
    margin-bottom: 3%;
    border: 1px solid black;
    width: 45%;
  }
  .input-number {
    margin-bottom: 3%;
    border: 1px solid black;
    width: 45%;
  }
  .input-lname {
    border: 1px solid black;
    width: 45%;
  }
  .personal-info {
    padding: 3%;
  }

  #h2address {
    font-size: 120%;
    margin-bottom: 2%;
  }

  .address-form {
    margin-left: 1%;
    margin-bottom: 3%;
  }
  .cashform {
    margin-left: 1%;
  }
  #h3cash {
    font-size: 120%;
    margin-bottom: 2%;
  }
  #cashbutton {
    margin-top: 5%;
    width: 40%;
    margin-left: 29%;
    font-size: 100%;
  }
  .input-country {
    width: 100%;
    border: 1px solid black;
  }

  .input-add {
    width: 100%;
    border: 1px solid black;
  }

  .input-city {
    width: 100%;
    border: 1px solid black;
  }

  .input-postalcode {
    width: 100%;
    border: 1px solid black;
  }
}

@media screen and (min-width: 900px) {
  .allforms {
    justify-content: center;
    width: 50%;

    margin-left: 25%;
    background-color: #f9f9f9;
  }
}
