/* Nancy Code */
/* mobile first */
* {
  padding: 0%;
  margin: 0%;
}
/* css variables */
:root {
  --primary-font: "Open Sans", sans-serif;
  --primary-color1: #ff8000;
  --primary-color2: #000000;
  --secondary-color1: #ffffff;
  --secondary-color2: #f9f9f9;
}
body {
  font-family: var(--primary-font);
}
p {
  font-weight: 400;
}
h1 {
  font-weight: 600;
  font-size: 28pt;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 500;
}
h5 {
  font-weight: 500;
}

/* header */
.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;
}
/*UI icons  */
.icon-container {
  text-align: end;
}
.fa {
  font-size: 100% !important;
  padding: 20px 10px;
}
/* logo */
.logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* small image icons */
.small-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  padding: 0 1rem;
  margin-top: 1rem;
}
.img-icon {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-icon-div {
  text-align: center;
}
.icon-name {
  margin-top: 0.5em;
  font-size: 80%;
}
/* carousel Image */
.carousel-image {
  display: block;
  width: 100%;
  height: auto;
}
.margin-top {
  margin-top: 1rem;
}

.carousel-container {
  margin: 1rem 0;
  --width: 100%;
  width: var(--width);
  overflow: hidden;
}

#slider {
  width: calc(var(--width) * 3);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.slide {
  width: 100%;
}

#slider .first-slide {
  animation: slide-left-first 10s ease-in-out both infinite;
}

#slider .second-slide {
  animation: slide-left-second 10s ease-in-out both infinite;
}

#slider .third-slide {
  animation: slide-left-third 10s ease-in-out both infinite;
}
/* category section */
.border-radius {
  border-radius: 100%;
  max-width: 80%;
  height: auto;
}
.sub-heading {
  padding: 0 1rem;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}
/* Product page */
.single-product-container,
.similar-product-container {
  margin: 1rem 2rem;
}
.subhead-text {
  margin-top: 1rem;
}
/* product image */
.single-product-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.single-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}
.product-name {
  margin: 0.5rem 0;
}

/* avialable color option */
.color-option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}
.dress-color {
  display: block;
  max-width: 25%;
  height: auto;
  border-radius: 5%;
}
/* size option */
ul.diff-size li {
  display: inline;
  text-decoration: none;
  margin-top: 0.5em;
  padding: 8px 20px;
  background-color: var(--secondary-color2);
  border-radius: 5px;
  cursor: pointer;
}
.diff-size {
  margin-top: 1rem;
}
.size-option:hover {
  background-color: var(--primary-color2);
  color: var(--secondary-color2);
}
/* product description */
.product-descript {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #4e4c4c;
  align-items: center;
  margin-top: 1rem;
}
.descript-text {
  margin-bottom: 0.5em;
  font-size: 1rem;
}
.arrow-div {
  position: relative;
}
.arrow-down {
  margin-top: 0.5rem;
}
.arrow-up {
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 0;
  right: 0;
  background: white;
}
/* reviews */
.stars {
  margin-top: 0.5rem;
}
.review-text {
  margin-top: 1rem;
  font-size: 1rem;
}
.hide {
  display: none;
}
/* change image on hover */
.card-with-img {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
}
.card-with-img:hover .overlay {
  opacity: 1;
}
/* small images below big one */
.small-img {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}
.button-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.basket-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color1);
  border-radius: 20px;
  color: #f2efed;
  padding: 8px 20px;
  /* box-shadow: 1px 1px 3px var(--primary-color2); */
}

/* small screens */
@media only screen and (max-width: 300px) {
  .fa {
    font-size: 100% !important;
    padding: 0.5em 0;
  }
}
/* desktop  */
@media only screen and (min-width: 700px) {
  /* landing page */
  .small-icons {
    display: none;
  }
  .logo-image {
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  .fa {
    font-size: 150% !important;
  }
  .subhead-text {
    font-size: 1rem;
  }
  .left-margin {
    margin-left: 2rem;
  }
  .descript-text {
    font-size: 1rem;
  }
  .review-text {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .category-heading {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
  /* product page */
  ul.diff-size li {
    font-size: 1rem;
  }
  .product-name,
  .product-price {
    font-size: 1rem;
    color: var(--primary-color2);
  }
  .product-text {
    margin-top: 1rem;
    font-size: 90%;
  }
  .product-caption {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .heart {
    cursor: pointer;
    padding: 0%;
  }
  .red-color {
    color: #ff0000;
  }
  /* .subhead-text {
    font-size: 1rem;
  } */
  .dress-color {
    max-width: 15%;
  }
  .product-descript {
    display: flex;
  }
  .single-image {
    max-width: 100%;
    margin: 0 auto;
  }
  /* similar product */
  .card-cont {
    padding: 1.5rem;
    background-color: var(--secondary-color2);
    border-radius: 20px;
    max-width: 70%;
  }
  .similar-product-container {
    display: block;
  }
  .similar-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }
  .similar-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  a.card-cont {
    text-decoration: none;
    box-shadow: 1px 1px 3px var(--primary-color2);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-with-img {
    max-width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .card-with-img {
    max-width: 100%;
  }
}
@keyframes slide-left-first {
  0% {
    transform: translateX(0px);
  }

  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  31% {
    transform: translateX(calc(var(--width) * 3));
  }
  60% {
    transform: translateX(calc(var(--width) * 2));
  }
  90% {
    transform: translateX(var(--width));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-second {
  0% {
    transform: translateX(0px);
  }
  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  56% {
    transform: translateX(calc(var(--width) * -1));
  }
  60% {
    transform: translateX(calc(var(--width) * -2));
  }
  61% {
    transform: translateX(calc(var(--width) * 2));
  }
  90% {
    transform: translateX(calc(var(--width) * 1));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-third {
  0% {
    transform: translateX(0px);
  }
  23% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(calc(var(--width) * -1));
  }
  56% {
    transform: translateX(calc(var(--width) * -1));
  }
  60% {
    transform: translateX(calc(var(--width) * -2));
  }
  90% {
    transform: translateX(calc(var(--width) * -2));
  }
  100% {
    transform: translateX(calc(var(--width) * -3));
  }
}
