* {
  padding: 0%;
  margin: 0%;
}
/* css variables */
:root {
  --primary-font: "Open Sans", sans-serif;
}
body {
  font-family: var(--primary-font);
}

header {
  background-color: #f9f9f9;
}

/* user input form */

#loginpage {
  padding-top: 5%;
  font-weight: 500;
  padding-bottom: 5%;
  margin-left: 45%;
}

#email {
  margin-left: 49%;
}

#password {
  margin-left: 48%;
}

input {
  margin-left: 39%;
  width: 30%;
  border-radius: 10px;
  width: 25%;
  font-size: 100%;
}

.and {
  text-align: center;
  padding-left: 2%;

  font-size: 100%;
}

.login-button {
  margin-top: 1%;
  background-color: #ff8000;
  color: white;
  border-radius: 10px;
  text-align: center;
}

#emailtext {
  margin-bottom: 1%;
  width: 25%;
}

#passtext {
  margin-bottom: 1%;
  width: 25%;
}

/* Making loginpage responsive */

@media screen and (max-width: 823px) {
  #loginpage {
    font-size: 120%;
    padding-top: 3%;
    margin-left: 49%;
  }

  input {
    width: 51%;
    margin-left: 29%;
  }

  #emailtext {
    width: 50%;
    margin-left: 29%;
  }

  #passtext {
    width: 50%;
    margin-left: 29%;
  }

  #password {
    margin-left: 50%;
    font-size: 100%;
  }
  #email {
    margin-left: 51%;
    font-size: 100%;
  }

  .and {
    margin-left: 7%;
    font-size: 100%;
  }
}

@media screen and (max-width: 430px) {
  #loginpage {
    font-size: 120%;
    padding-top: 20%;
    margin-left: 42%;
  }

  input {
    width: 55%;
    margin-left: 26%;
  }

  #emailtext {
    width: 55%;
    margin-left: 26%;
  }

  #passtext {
    width: 55%;
    margin-left: 26%;
  }

  #password {
    margin-left: 44%;
    font-size: 100%;
  }
  #email {
    margin-left: 47%;
    font-size: 100%;
  }

  .and {
    margin-left: 7%;
    font-size: 100%;
  }
}
