* {
  padding: 0%;
  margin: 0%;
}
/* css variables */
:root {
  --primary-font: "Open Sans", sans-serif;
}
body {
  font-family: var(--primary-font);
}

header {
  background-color: #f9f9f9;
}

/* user input form */

.user-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loginpage {
  padding-top: 5%;
  font-weight: 500;
  padding-bottom: 3%;
}

input {
  width: 50%;
  font-size: 100%;
}

.and {
  text-align: center;
  padding-left: 2%;

  font-size: 100%;
}

.login-button {
  margin-top: 1%;

  padding: 2px 0;
  background-color: #ff8000;
  color: white;
  border-color: #ff8000;
  align-items: center;

  cursor: pointer;
}

#emailtext {
  margin-bottom: 1%;
  width: 50%;
  border: 1px solid black;
}

#passtext {
  margin-bottom: 1%;
  width: 50%;
  border: 1px solid black;
}

/* Making loginpage responsive */

@media screen and (max-width: 823px) {
  .user-container {
    width: 100%;
  }
  #loginpage {
    font-size: 140%;
    padding-top: 3%;
  }
  .login-button {
    margin-top: 2%;
  }
  input {
    width: 100%;
  }

  #email,
  .and,
  #password {
    font-size: 120%;
  }
}

@media screen and (max-width: 430px) {
  #loginpage {
    font-size: 140%;
    padding-top: 20%;
  }

  input,
  #emailtext,
  #passtext {
    width: 55%;
  }

  #password,
  #email,
  .and {
    font-size: 120%;
  }

  #input-form {
    padding-top: 1rem;
  }
}
